
/* ---------------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Raleway&display=swap');

* {
  font-family: Montserrat;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--white-color) !important;
  margin: 0;
  padding: 0;
  transition: background-color 0.5s ease, color 0.5s ease;
}

html {
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}


.container {
    padding: 80px 120px;
    position: relative;
  }

.page-view {
  min-height: 100vh;
}

/* --------------------------- Menu ------------------------------------------ */

.navbar{
  background-color: var(--white-color) !important;
  color: var(--pink-color) !important;
  font-size: 1.6rem;
}

.navbar .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar .navbar-header .navbar-brand {
  font-weight: bold;
  font-size: 2rem;
}

.navbar-default .navbar-nav>li>a {
  color: var(--black-color) !important;
  font-weight: 800;
  display: block;
  padding: 2rem;
}

.navbar-default .navbar-nav> li> a:hover, .navbar-default .navbar-nav> li> a:focus {
  color: var(--white-color) !important;
}

.navbar-default .navbar-nav> li> a:hover, .navbar-default .navbar-nav> li> a:hover {
  color: var(--brown-color) !important;
}

.navbar-default .navbar-nav> .active> a, .navbar-default .navbar-nav> .active> a:hover, .navbar-default .navbar-nav> .active> a:focus {
  background-color: var(--pink-color) !important;
  color: var(--white-color) !important;
}

.navbar .container-fluid .navbar-header a:hover::after{
  width: 100%;
}

.navbar .container-fluid .navbar-header a{
  color: inherit;
  position: relative;
}

.navbar >.navbar-nav>.resume-button {
  font-size: 1.5rem;
  font-weight: 500;
  transition: all 300ms ease-in-out;
}

.navbar >.navbar-nav>.resume-button:after {
  color: var(--black  -color) !important;
}

/* ---------------------------- Présentation -------------------------------------*/

.img-intro img{
  position: absolute;
  max-width: 100%;
  height: auto;
  z-index: 1;
}

.img-intro img:hover {
  transform: scale(1.1);
  transition: 0.7s ease;
}

#home .container .row .col-lg-6{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color : var(--black-color);
}

#home .page-header{
  color:var(--brown-color); 
}

.text-animate { 
  visibility:hidden;
  color:var(--brown-color); 
}

.strong-intro {
  color: var(--pink-color);
}

.rectangle {
  position : relative;
  width:560px;
  height:200px;
  background-color: var(--brown-color) !important;
  top: 300px;
  left: 300px; 
}

.rectangle :hover {
  transform: scale(1.1);
  transition: 0.7s ease;
}

/* ----------------------- Biographie ------------------------------------------------------ */






                                                        /* ---------------------------------------- Frise chronologique ---------------------------------------- */

.timeline {
  position: relative;
  padding: 50px 0;
  margin: 0 auto;
  max-width: 1200px;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2.5px;
  height: 100%;
  background: var(--brown-color);
}

.timeline-item {
  position: relative;
  margin: 50px 0;
  clear: both;
}

.timeline-item-content {
  position: relative;
  width: 45%;
  padding: 20px;
  background: var(--white-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  border-radius: 8px;
  overflow: hidden;
  padding-top: 35px;
  transition: all 300ms ease-in-out;
}

.timeline-item-content:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.timeline-item-content h2 {
  margin-top: 0;
  color: var(--pink-color);
}

.timeline-item-content p {
  margin: 0;
  font-size: 16px;
  line-height: 1.6;
  color: var(--black-color) !important; 
}

.timeline-item:nth-child(even) .timeline-item-content {
  float: right;
}

/* ----------------------- Compétences ------------------------------------------------------ */

#skills {
  padding: 50px 0;
} 

#skills h2 {
  font-size: 30px;
  margin-bottom: 40px;
}

.skill-icon-container i{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill-icon-container i {
  color: var(--brown-color);
  padding: 10px;
  font-size: 5em;
  transition: all 0.3s ease-in-out;
}

.skill-icon-container i:hover {
  transform: scale(1.2);
}

.skill-container p {
  margin-top: 20px;
  padding: 10px;
  background-color: var(--pink-color);
  color: var(--white-color);
  border-radius: 5px;
  transition: all 300ms ease-in-out;
}

.skill-container p:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
}


/* ----------------------- Contact ------------------------------------------------------ */

#contact {
  color: var(--black-color) !important;
  padding: 200px 0;
  margin-bottom: -190px;
}

#contact i {
  color: var(--pink-color);
  transition: all 0.3s ease-in-out;
}


/* ----------------------- Footer ------------------------------------------------------ */


footer {
  margin-top: -50px;
  padding: 50px 0;
	background-color: var(--black-color);
	color: white;
}
footer p {
	font-size: 12px;
	color: #ccc;
	cursor: pointer;
}
footer p:hover {
	color: #fff;
}

footer a span {
  color: #ccc;
  cursor: pointer;
}

footer a :hover {
  color: #fff;
}


/* ----------------------------------------------- media queries ----------------------------------------------------------------- */

/* Pour les écrans de moins de 768px */
@media (max-width: 767px) {
  .container {
    padding: 40px 30px;
  }
  .navbar .container-fluid {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar .navbar-header .navbar-brand {
    font-size: 1.6rem;
  }
  .navbar-default .navbar-nav>li>a {
    font-size: 1.2rem;
    padding: 1rem;
  }
  .img-intro img {
    position: relative;
    max-width: 100%;
    height: auto;
  }
  #home .container .row .col-lg-6 {
    padding-top: 20px;
    text-align: center;
  }
  .rectangle {
    top: 10%;
    width: 90%;
    max-width: 500px;
  }
  .timeline::before {
    left: 10%;
    margin-left: 0;
  }
  .timeline-item-content {
    max-width: 90%;
  }
  .skill-icon-container i {
    font-size: 10vw;
    padding: 2%;
  }
  .skill-container p {
    font-size: 1rem;
    margin-top: 2%;
    padding: 2%;
  }
  #contact {
    margin-bottom: 0;
  }

  .timeline {
    padding: 10% 0;
  }

  .timeline::before {
    margin-left: -2px;
  }

  .timeline-item-content {
    max-width: 100%;
    padding: 10%;
    padding-top: 10%;
    margin-top: 10%;
  }

  .skill-icon-container i {
    font-size: 8vw;
  }

  #contact {
    padding: 15% 0;
    margin-bottom: -150px;
  }

  footer p {
    font-size: 2vw;
  }
}

/* Pour les écrans entre 768px et 991px */
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding: 60px 30px;
  }
  .navbar .container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .navbar .navbar-header .navbar-brand {
    font-size: 1.8rem;
  }
  .navbar-default .navbar-nav>li>a {
    font-size: 1.4rem;
    padding: 1.5rem;
  }
  .img-intro img {
    position: relative;
    max-width: 100%;
    height: auto;
  }
  #home .container .row .col-lg-6 {
    padding-top: 20px;
    text-align: center;
  }
  .rectangle {
    top: 10%;
    width: 80%;
    max-width: 400px;
  }
  .timeline::before {
    left: 20%;
    margin-left: 0;
  }
  .timeline-item-content {
    max-width: 80%;
  }
  .skill-icon-container i {
    font-size: 8vw;
    padding: 3%;
  }
  .skill-container p {
    font-size: 1.2rem;
    margin-top: 3%;
    padding: 3%;
  }
  #contact {
    margin-bottom: -100px;
  
}
  .rectangle {
    width: 80%;
    top: 7.5%;
  }

  .timeline {
    padding: 7.5% 0;
  }

  .timeline-item-content {
    max-width: 90%;
    padding: 7.5%;
    padding-top: 7.5%;
    margin-top: 7.5%;
  }

  .skill-icon-container i {
    font-size: 6vw;
  }

  #contact {
    padding: 12.5% 0;
    margin-bottom: -170px;
  }

  footer p {
    font-size: 1.5vw;
  }
}

/* Pour les écrans plus large que 1024px */
@media (min-width: 1024px) {
  /* .rectangle {
    width: 70%;
    top: 5%;
  } */

  .timeline {
    padding: 5% 0;
  }

  .timeline-item-content {
    max-width: 550px;
    padding: 5%;
    padding-top: 5%;
    margin-top: 0;
  }

  .skill-icon-container i {
    font-size: 5vw;
  }

  #contact {
    padding: 10% 0;
    margin-bottom: -190px;
  }

  /* footer p {
    font-size: 1vw;
  } */
}

/* Pour les écrans de taille moyenne (maximum 992px) */
@media screen and (max-width: 992px) {
  .rectangle {
    width: 100%;
    height: auto;
    left: 0;
  }
}

/* Pour les écrans de petite taille (maximum 576px) */
@media screen and (max-width: 576px) {
  .timeline-item-content {
    width: 100%;
  }

  .timeline::before {
    left: 25px;
    margin-left: 0;
  }
  
  #skills h2 {
    font-size: 24px;
  }
  
  .skill-icon-container i {
    font-size: 4em;
  }
  
  #contact {
    padding: 100px 0;
  }
}

/* Pour les écrans de taille moyenne à grande (minimum 992px) */
@media screen and (min-width: 992px) {
  #skills {
    display: flex;
    flex-wrap: wrap;
  }
  
  .skill-container {
    flex-basis: 50%;
  }
}

/*---------------------------------------- Bordure multicolore ------------------ */

  .rainbow-border {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 60px;
  }
  
  .rainbow-border:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 10px solid transparent;
    border-image: linear-gradient(to right, #F9F9ED, #6D5C7D,#8874A3, #B7ABC7, #F9F9ED );  /* #3D2B1F, #8B6969, #F9F9ED, #A0522D,#5E2612, #3D2B1F*/
    border-image-slice: 1;
  }

/* ---------------------------- Bouton "Retour vers le haut de la page" ----------------------------------------------------- */

.back-to-top {
  position: fixed;
  bottom: 2em;
  right: 2em;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--black-color);
  font-size: 15px;
  padding: 1em;
  display: none;
}

.back-to-top:hover, .back-to-top:focus, .back-to-top:active {
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--white-color);
} 

/* ----------------------------------------------- Bouton dark-light mode -------------------------------------------------------- */

.dark-mode button {
  background-color: var(--pink-color);
  color: var(--black-color);
}

.dark-mode button:hover {
  background-color: var(--brown-color);
  color: var(--white-color);
}

#mode-toggle {
  background-color: var(--white-color);
  color: var(--black-color);
  border: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
}

#mode-toggle.dark-mode {
  background-color: var(--black-color);
  color: var(--white-color);
}

#mode-toggle.dark-mode i.fa-sun {
  display: none;
}

#mode-toggle.dark-mode i.fa-moon {
  display: inline-block;
}

#mode-toggle i.fa-sun {
  display: inline-block;
}

#mode-toggle i.fa-moon {
  display: none;
}

#mode-toggle:hover {
  color: var(--pink-color);
}

#mode-toggle .dark-mode:hover {
  color: var(--pink-color);
}




/* ----------------------------------------------- CSS du Dark mode -------------------------------------------------------- */

.dark-mode {
  --white-color: #262220;
  --black-color: #F7F1F0;
  --pink-color: #A15C38;
  --brown-color: #C3A6A0;

  background-color: var(--black-color);
  color: var(--white-color);
}

.dark-mode #home .text-animate {
  color: var(--brown-color);
}

.dark-mode h2 {
  color: var(--black-color);
}

.dark-mode .timeline h2 {
  color: var(--pink-color);
}

.dark-mode .timeline-item-content {
  box-shadow: 0 2px 4px rgba(255, 255, 255, .6);
}

.dark-mode .skill-container p {
  color: var(--black-color);
  box-shadow: 0 2px 4px rgba(255, 255, 255, .6);
}

.dark-mode footer {
  background-color: var(--black-color);
}

.dark-mode footer p {
  color: #363535;
}

.dark-mode footer p:hover {
  color: black;
}

.dark-mode .back-to-top:hover, .dark-mode .back-to-top:focus {
  background-color: #ccc;
}

.dark-mode footer a {
  color:  #363535;
}

.dark-mode  footer a:hover {
  color: black;
}










  /* Tablets */
  /* @media (max-width: 992px) {
    .navbar ul li a {
      font-size: .9em;
      padding-left: 0;
    }
  } */

/* Portrait phones and smaller */

/* @media (max-width: 480px) {
  .navbar ul li a {
    font-size: .9em;
    padding-left: 0;
  }
  .navbar-brand>img {
    height: auto;
    padding: 7px 15px;
    width: 200px;
  }

  h1.title {
    font-size: 1.8em;
    padding-top: 1.6em;
  }
  h3.title {
    font-size: 1.2em;
  }
  .container-fluid {
    padding-top: 80px;
  }
  .fa-stack {
    font-size: 1.3em;
  }
}

  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    } 
  } */


