
/* ---------------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Raleway&display=swap');

* {
  font-family: Montserrat;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: var(--white-color) !important;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}


.container {
    padding: 80px 120px;
    position: relative;
  }

.page-view {
  min-height: 100vh;
}

#about, #skills{
  padding-top: 50px;
}

/* --------------------------- Menu ------------------------------------------ */

.navbar {
  background-color: var(--white-color) !important;
  color: var(--pink-color) !important;
  /* /* border: none;
  border-radius: 0;
  margin-bottom: 0; */
  font-size: 1.6rem;
  /* letter-spacing: .1rem; */
  /* font-weight: 1000; */
  /* opacity: 0.9; */
}

.navbar .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar .navbar-header .navbar-brand {
  font-weight: bold;
  font-size: 2rem;
}

.navbar-default .navbar-nav>li>a {
  color: var(--black-color) !important;
  font-weight: 800;
  display: block;
  padding: 2rem;
}

.navbar-default .navbar-nav> li> a:hover, .navbar-default .navbar-nav> li> a:focus {
  color: var(--white-color) !important;
}

.navbar-default .navbar-nav> li> a:hover, .navbar-default .navbar-nav> li> a:hover {
  color: var(--brown-color) !important;
}

.navbar-default .navbar-nav> .active> a, .navbar-default .navbar-nav> .active> a:hover, .navbar-default .navbar-nav> .active> a:focus {
  background-color: var(--pink-color) !important;
  color: var(--white-color) !important;
}

.navbar .container-fluid .navbar-header a:hover::after{
  width: 100%;
}

.navbar .container-fluid .navbar-header a{
  color: inherit;
  position: relative;
}

.navbar >.navbar-nav>.resume-button {
  font-size: 1.5rem;
  font-weight: 500;
  transition: all 300ms ease-in-out;
}

.navbar >.navbar-nav>.resume-button:after {
  color: var(--black  -color) !important;
}

/* ---------------------------- Présentation -------------------------------------*/


.first-bg {
  background-color: var(--white-color) !important;
  width: 100%;
}

.img-intro img{
  position: absolute;
  max-width: 100%;
  height: auto;
  z-index: 1;
}

.img-intro img:hover {
  transform: scale(1.1);
  transition: 0.7s ease;
}

#home .container .row .col-lg-6{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color : var(--black-color);
}

#home .page-header{
  color:var(--brown-color); 
}

.text-animate { 
  visibility:hidden;
  color:var(--brown-color); 
}

.strong-intro {
  color: var(--pink-color);
}


.rectangle {
  position : relative;
  width:560px;
  height:200px;
  background-color: var(--brown-color) !important;
  top: 300px;
  left: 300px; 
}

.rectangle :hover {
  transform: scale(1.1);
  transition: 0.7s ease;
}

/* ----------------------- Biographie ------------------------------------------------------ */






/* ---------------------------------------- Frise chronologique ---------------------------------------- */


 /* .timeline {
  position: relative;
  padding: 50px 0;
  margin: 0 auto;
  max-width: 1200px;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: #ccc;
}

.timeline-item {
  position: relative;
  margin: 50px 0;
  clear: both;
}

.timeline-item-content {
  position: relative;
  width: 45%;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
  border-radius: 8px;
  overflow: hidden;
}

.timeline-item-content::before {
  content: '';
  position: absolute;
  top: -20px;
  left: calc(50% - 20px);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 20px;
  border-color: transparent transparent #fff transparent;
}

.timeline-item-content::after {
  content: '';
  position: absolute;
  top: -21px;
  left: calc(50% - 21px);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 21px 21px 21px;
  border-color: transparent transparent rgba(0,0,0,.2) transparent;
}

.timeline-item-content h2 {
  margin-top: 0;
  color: #c45e46;
}

.timeline-item-content p {
  margin: 0;
  font-size: 16px;
  line-height: 1.6;
}

.timeline-item:nth-child(even) .timeline-item-content {
  float: right;
}

.timeline-item:nth-child(even) .timeline-item-content::before {
  right: auto;
  left: -20px;
  border-width: 20px 20px 0 20px;
  border-color: #fff transparent transparent transparent;
}

.timeline-item:nth-child(even) .timeline-item-content::after {
  right: auto;
}  */

/* Couleurs personnalisées */

/* Timeline */
.timeline {
  position: relative;
  padding: 50px 0;
  margin: 0 auto;
  max-width: 1200px;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2.5px;
  height: 100%;
  background: var(--brown-color);
}

.timeline-item {
  position: relative;
  margin: 50px 0;
  clear: both;
}

.timeline-item-content {
  position: relative;
  width: 45%;
  padding: 20px;
  background: var(--white-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  border-radius: 8px;
  overflow: hidden;
  padding-top: 35px;
}

.timeline-item-content h2 {
  margin-top: 0;
  color: var(--pink-color);
}

.timeline-item-content p {
  margin: 0;
  font-size: 16px;
  line-height: 1.6;
  color: var(--black-color) !important; 
}

.timeline-item:nth-child(even) .timeline-item-content {
  float: right;
}




















/* ----------------------- Compétences ------------------------------------------------------ */

.skill-icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill-icon-container i {
  color: var(--brown-color);
  padding: 10px;
  font-size: 5em;
  transition: all 0.3s ease-in-out;
}

.skill-icon-container i:hover {
  transform: scale(1.2);
}

/* ----------------------- Contact ------------------------------------------------------ */

#contact {
  color: var(--black-color) !important;
  padding: 200px 0;
}

#contact i {
  color: var(--brown-color);
  transition: all 0.3s ease-in-out;
}





/* ----------------------- Footer ------------------------------------------------------ */


footer {
  margin-top: 0;
  padding: 50px 0;
	background-color: var(--black-color);
	color: white;
}
footer p {
	font-size: 12px;
	color: #ccc;
	cursor: pointer;
}
footer p:hover {
	color: #fff;
}

footer a {
  color: #ccc;
  cursor: pointer;
}

footer a:hover {
  color: #fff;
}








  /* Tablets */
  @media (max-width: 992px) {
    .navbar ul li a {
      font-size: .9em;
      padding-left: 0;
    }
  }

/* Portrait phones and smaller */

@media (max-width: 480px) {
  .navbar ul li a {
    font-size: .9em;
    padding-left: 0;
  }
  .navbar-brand>img {
    height: auto;
    padding: 7px 15px;
    width: 200px;
  }

  h1.title {
    font-size: 1.8em;
    padding-top: 1.6em;
  }
  h3.title {
    font-size: 1.2em;
  }
  .container-fluid {
    padding-top: 80px;
  }
  .fa-stack {
    font-size: 1.3em;
  }
}

  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    } 
  }














/*---------------------------------------- Bordure multicolore ------------------ */

  .rainbow-border {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* z-index: 9999;  */
    margin-top: 60px;
  }
  
  .rainbow-border:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* z-index: -1; */
    border: 10px solid transparent;
    border-image: linear-gradient(to right, #F9F9ED, #6D5C7D,#8874A3, #B7ABC7, #F9F9ED );  /* #3D2B1F, #8B6969, #F9F9ED, #A0522D,#5E2612, #3D2B1F*/
    border-image-slice: 1;
  }

/* ---------------------------- Bouton "Retour vers le haut de la page" ----------------------------------------------------- */

#haut-page {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 5px #888;
  }
  

#haut-page:hover {
  background-color: #555;
}
