:root{
    /* --black-color: black;
    --violet-color: #8874A3;
    --dark-violet-color: #6D5C7D;
    --light-violet-color: #B7ABC7;
    --white-color: #F9F9ED; */

    --white-color : #F7F1F0;
    --black-color : #262220;
    --pink-color : #C3A6A0;
    --brown-color: #A15C38;
}